/* #region global styles */
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.section-title {
  width: 412px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: #fd9222;
}

address {
  text-decoration: none;
  text-transform: none;
}
/* #endregion */

/* #region header */
.header {
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -3%;
  color: #111111;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 6px;
}

.logo-icon {
}

.nav-list {
  margin-left: 365px;
  display: flex;
  gap: 24px;
}

.nav-list-item {
  width: calc((100% * 48px) / 3);
}

.nav-list-link {
  display: block;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #111111;
  padding: 32px 0;
}
.nav-icons {
  display: flex;
  gap: 14px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.nav-icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-link:hover,
.icon-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
  fill: #fd9222;
}

/* #endregion */

/* #region hero */
.hero-section {
  margin-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  width: 1136px;
  align-content: flex-end;
  padding: 381px 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg.jpg);
}

.hero-title {
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: #fff;
  width: 484px;
  height: 102px;
}

.button-container {
  display: flex;
  margin-top: 32px;
  margin-bottom: 0;
  align-items: center;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border-radius: 100px;
  padding: 14px 40px;
  background: transparent;
  min-width: 144px;
  min-height: 45px;
}
.buy-btn {
  background: rgb(253, 146, 34);
  border: none;
  margin-right: 14px;
  color: #fff;
}

.buy-btn:hover,
.buy-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.info-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.info-btn:hover,
.info-btn:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.scroll-down {
  display: inline-flex;
  gap: 14px;
  color: #fff;
  margin-left: auto;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.icon-down-link {
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.scroll-down-icon {
  fill: #fd9222;
}

.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}

.scroll-down:hover > .scroll-down-icon,
.scroll-down:focus > .scroll-down-icon {
  --color1: #fd9222;
  --color2: #fff;
}

/* #endregion */

/* #region benefits */
.benefits-section {
  background-color: #1e1823;
  padding: 50px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-item {
  position: relative;
  width: 308px;
}

.benefits-item:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 124px;
  display: block;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
  left: -44px;

  transform: translateY(-50%);
}

.benefits-item:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 124px;
  display: block;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
  left: -44px;
}

.icon-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);

  margin-bottom: 22px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

/* #endregion */

/* #region ingredient */
.ingredient-section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.section-title {
  margin-bottom: 50px;
}
.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.ingredient-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.ingredient-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.ingredient-item:nth-child(2n + 2) {
  border-color: #fd9222;
}

.ingredient-item:nth-child(2n + 2) .ingredient-icon {
  --color1: #fd9222;
}

.white-text {
  color: #fff;
}

.ingredient-item {
  position: relative;
  flex-basis: calc((100% - 3 * 32px) / 4);
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 28px 23px;
}

.ingredient-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.ingredient-image {
}
.ingredient {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-top: 36px;
  text-transform: uppercase;
}
/* #endregion */

/* #region made */
.made-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-img-container {
  position: relative;
  border-radius: 15px;
  width: 600px;
}

.icon-play {
}

.play-button {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
}

.made-description-container {
  border-radius: 15px;
  width: 516px;
  padding: 32px;
  background-color: #ffffff;
}
.made-description-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #111111;
  margin-bottom: 28px;
  width: 350px;
}
.made-description-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.made-description-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
}

.made-description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111111;
}
/* #endregion */

/* #region products */
.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
}
.section-title {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}

.product-item {
  width: calc((100% - 3 * 18px) / 4);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 32px 20px;
  text-align: center;
}

.product-title {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #111111;
  margin: 8px auto 2px;
}
.product-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.price-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  width: 94px;
  height: 33px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
/* #endregion */

/* #region top-sellers */
.sellers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
}
.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-list-item {
  width: calc((100% - 16px * 2) / 3);
  border-radius: 15px 15px 0 0;
}
.sellers-list-item img {
  border-radius: 15px 15px 0 0;
}

.sellers-title {
  padding: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
}
.sellers-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  transform: translateY(100%);

  display: flex;
  align-items: center;

  padding: 40px;

  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fafafa;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  border-radius: 15px 15px 0px 0px;

  transition: transform 350ms cubic-bezier(0.47, 0, 0.75, 0.72);
}

.sellers-list-item:hover .overlay {
  transform: translateY(0);
}

.sellers-title-wrapper {
  padding: 28px 72px;
}

/* #endregion */

/* #region reviews */
.reviews-section {
  padding-top: 60px;
  padding-bottom: 120px;
}
.container {
}

.reviews-title {
  margin-bottom: 92px;
}

.accent {
}
.reviews-list {
  display: flex;
  gap: 28px;
}
.review-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.1);
  width: calc((100% - 2 * 28px) / 3);
}

.review-img {
  position: relative;
  top: -40px;
  border-radius: 50%;
  justify-self: center;
}

.review-wrap {
  margin-bottom: 24px;
}

.review-list-container {
  background-color: #ffffff;
}
.review-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  color: #111111;
  margin-bottom: 24px;
  text-align: center;
}
.review-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.7);
  width: 312px;
  margin: 0 auto;
  text-align: center;
}
.btn {
}

.leave-btn {
  display: block;
  border: 1px solid rgb(253, 146, 34);
  margin: 50px auto 0;
}

.leave-btn:hover,
.leave-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}

/* #endregion */

/* #region footer */
.footer-section {
  background-color: #1e1823;
  padding-top: 50px;
}

.footer-container {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  text-transform: none;
  color: #ffffff;
  width: 300px;
}

.footer-socials-container {
  display: flex;
  gap: 50px;
}

.socials-footer-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 14px;
}

.socials-footer {
  display: flex;
  gap: 14px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
  fill: #fd9222;
}

.address-container {
}

.footer-address-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.footer-addres-item {
}

.address-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom {
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 50px;
}

.footer-nav {
  display: flex;
  gap: 24px;

  max-width: 320px;

  margin-right: auto;
}

.foote-nav-item {
  width: calc((100% - 48px) / 3);
}

.footer-nav-link {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  padding: 9px 0;
  width: calc((100% - 48px) / 3);
  padding: 0;
}

.form-wrap {
}

.subscribe-form {
  display: flex;
  gap: 8px;
}

.subscribe-label {
}

.subscribe-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
  padding-left: 24px;
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;

  width: 313px;
  height: 52px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  background-color: #fd9222;
  border-radius: 100px;
  width: 137px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
}
/* #endregion */

/* #region modal-window */
.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 15px;
  position: absolute;
  padding: 40px;
  background: #fafafa;
  min-width: 517px;
  height: 794px;
}

.close-btn {
  border: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.close-icon {
  fill: #111111;
  stroke: #111111;
}

.form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;

  width: 298px;
  margin-bottom: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.input-wrap {
}

.icon-wrap {
  position: relative;
  margin-bottom: 18px;
}

.form-label {
  display: block;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  margin-bottom: 8px;
}

.input-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  fill: #ffffff;
  stroke: #111111;

  transition: 300ms ease-in;
  transition-property: stroke;
}

.form-input {
  font-size: 18px;
  letter-spacing: -0.02em;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  width: 100%;
  height: 68px;
  padding-left: 68px;
  background-color: transparent;
  outline: transparent;

  transition: 300ms ease-in;
  transition-property: border-color, box-shadow;
}

.form-input:focus,
.form-input:active {
  border-color: #fd9222;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.form-input:focus + .input-icon {
  fill: #ffffff;
  stroke: #fd9222;
}

.textarea-wrap {
  margin-bottom: 18px;
}

.form-textarea {
  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  min-height: 137px;
  padding-top: 22px;
  padding-left: 24px;
  padding-right: 24px;
  outline: transparent;

  transition: 300ms ease-in;
  transition-property: border-color, box-shadow;
}

.form-textarea:focus {
  border-color: #fd9222;
}

.form-textarea::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.checkbox-wrap {
  margin-bottom: 24px;

  display: flex;
  align-items: baseline;
}

.checkbox-input {
}

.checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

input[type='checkbox']:checked + .checkbox-label > .checkbox-span {
  background-color: #fd9222;
  border-color: #fd9222;
}

.checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 1;

  width: 20px;
  height: 20px;
  margin-right: 12px;

  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;

  transition: 150ms ease-in;
  transition-property: background-color, border-color;
}

.checkbox-icon {
  opacity: 0;
  transition: 150ms ease-in;
  transition-property: opacity;
}

input[type='checkbox']:checked
  + .checkbox-label
  > .checkbox-span
  > .checkbox-icon {
  opacity: 1;
}

input[type='checkbox']:focus-visible + .checkbox-label > .checkbox-span {
  outline: 2px solid #fd9222;
  outline-offset: 2px;
}

.checkbox-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.privacy-link {
  color: #fd9222;
  text-decoration: underline solid;
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.form-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 117px;
  height: 45px;
  border: none;
  border-radius: 100px;

  background-color: #fd9222;
  transition: 250ms
    linear(
      0 0%,
      0 1.8%,
      0.01 3.6%,
      0.03 6.35%,
      0.07 9.1%,
      0.13 11.4%,
      0.19 13.4%,
      0.27 15%,
      0.34 16.1%,
      0.54 18.35%,
      0.66 20.6%,
      0.72 22.4%,
      0.77 24.6%,
      0.81 27.3%,
      0.85 30.4%,
      0.88 35.1%,
      0.92 40.6%,
      0.94 47.2%,
      0.96 55%,
      0.98 64%,
      0.99 74.4%,
      1 86.4%,
      1 100%
    );
  transition-property: color, background-color;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
/* #endregion */
