/* #region global styles */

.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.section-title {
  width: 412px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: #fd9222;
}

address {
  text-decoration: none;
  text-transform: none;
}
/* #endregion */

/* #region header */
.header {
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -3%;
  color: #111111;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 6px;
}

.logo-icon {
}

.nav-list {
  margin-left: 365px;
  display: flex;
  gap: 24px;
}

.nav-list-item {
  width: calc((100% * 48px) / 3);
}

.nav-list-link {
  display: block;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #111111;
  padding: 32px 0;
}
.nav-icons {
  display: flex;
  gap: 14px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.nav-icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-link:hover,
.icon-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
}

.nav-icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: #111111;
}

.nav-icon:hover,
.nav-icon:focus {
  fill: #fd9222;
}
/* #endregion */

/* #region hero */
.hero-section {
  margin-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  width: 1136px;
  align-content: flex-end;
  padding: 381px 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg.jpg);
}

.hero-title {
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: #fff;
  width: 484px;
  height: 102px;
}

.button-container {
  display: flex;
  margin-top: 32px;
  margin-bottom: 0;
  align-items: center;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border-radius: 100px;
  padding: 14px 40px;
  background: transparent;
  min-width: 144px;
  min-height: 45px;
}
.buy-btn {
  background: rgb(253, 146, 34);
  border: none;
  margin-right: 14px;
  color: #fff;
}

.buy-btn:hover,
.buy-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.info-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.info-btn:hover,
.info-btn:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.scroll-down {
  display: block;
  color: #fff;
  margin-left: auto;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.icon-down-link {
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.scroll-down-icon {
  fill: #fd9222;
}

.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}

.icon-down-link:hover,
.icon-down-link:focus {
  background-color: #fd9222;
}

.icon-down-link .scroll-down-icon:hover,
.icon-down-link .scroll-down-icon:focus {
  fill: #ffffff;
}
/* #endregion */

/* #region benefits */
.benefits-section {
  background-color: #1e1823;
  padding: 50px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-item {
  width: 308px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

/* #endregion */

/* #region ingredient */
.ingredient-section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.section-title {
  margin-bottom: 50px;
}
.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.ingredient-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.ingredient-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.ingredient-item:nth-child(2n + 2) {
  border-color: #fd9222;
}
.white-text {
  color: #fff;
}

.ingredient-item {
  flex-basis: calc((100% - 3 * 32px) / 4);
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 28px 23px;
}

.ingredient-image {
}
.ingredient {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-top: 36px;
  text-transform: uppercase;
}
/* #endregion */

/* #region made */
.made-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-img-container {
  border-radius: 15px;
  width: 600px;
}
.made-description-container {
  border-radius: 15px;
  width: 516px;
  padding: 32px;
  background-color: #ffffff;
}
.made-description-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #111111;
  margin-bottom: 28px;
  width: 350px;
}
.made-description-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.made-description-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
}

.made-description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111111;
}
/* #endregion */

/* #region products */
.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
}
.section-title {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}

.product-item {
  width: calc((100% - 3 * 18px) / 4);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 32px 20px;
  text-align: center;
}

.product-title {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #111111;
  margin: 8px auto 2px;
}
.product-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.price-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  width: 94px;
  height: 33px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
/* #endregion */

/* #region top-sellers */
.sellers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
}
.sellers-list {
  display: flex;
  gap: 18px;
}
.sellers-list-item {
  width: calc((100% - 2 * 18px) / 3);
  border-radius: 15px;
  overflow: hidden;
}
.sellers-container {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding: 28px 0;
}
.sellers-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
}
/* #endregion */

/* #region reviews */
.reviews-section {
  padding-top: 60px;
  padding-bottom: 120px;
}
.container {
}

.reviews-title {
  margin-bottom: 92px;
}

.accent {
}
.reviews-list {
  display: flex;
  gap: 28px;
}
.review-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.1);
  width: calc((100% - 2 * 28px) / 3);
}

.review-img {
  position: relative;
  top: -40px;
  border-radius: 50%;
  justify-self: center;
}

.review-wrap {
  margin-bottom: 24px;
}

.review-list-container {
  background-color: #ffffff;
}
.review-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  color: #111111;
  margin-bottom: 24px;
  text-align: center;
}
.review-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.7);
  width: 312px;
  margin: 0 auto;
  text-align: center;
}
.btn {
}

.leave-btn {
  display: block;
  border: 1px solid rgb(253, 146, 34);
  margin: 50px auto 0;
}

.leave-btn:hover,
.leave-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}

/* #endregion */

/* #region footer */
.footer-section {
  background-color: #1e1823;
  padding-top: 50px;
}

.footer-container {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  text-transform: none;
  color: #ffffff;
  width: 300px;
}

.footer-socials-container {
  display: flex;
  gap: 50px;
}

.socials-footer-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 14px;
}

.socials-footer {
  display: flex;
  gap: 14px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
}

.footer-icon {
  fill: #ffffff;
}

.footer-icon:hover,
.footer-icon:focus {
  fill: #fd9222;
}

.address-container {
}

.footer-address-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.footer-addres-item {
}

.address-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom {
  padding-top: 24px;
  padding-bottom: 50px;
}

.footer-nav {
  display: flex;
  gap: 24px;
}

.footer-nav-link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 9px 0;
}
/* #endregion */
